* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Lower z-index so canvas is behind the button */
}

body {
overflow: hidden;
background: black;

}

#textInput {
    display: none;
}

